body{
	.columns {
		margin-left: -0.5rem;
		margin-right: -0.5rem;
		margin-top: -0.5rem;
		.column{
			padding: 0.5rem;
		}
	}
  .has-text-primary{
    color: $primary !important;
  }
	.field {
		&:not(:last-child) {
			margin-bottom: 0.5rem;
		}
		.control {
			// input, textarea, select {
				// 	border: none;
				// 	background: white;
				// 	box-shadow: 0px 3px 6px $default_input_shadow;
				// 	border-radius: 0.25rem;
				// 	color: #DDDDDD;
				//   font-size: 1.25em;
				// 	&:focus, &:active {
					// 		border: none;
				// 	}
			// }
			// .select:not(.is-multiple):not(.is-loading)::after {
				// 	border-color: #DDDDDD;
			// }
		}
	}
	.select:not(.is-multiple):not(.is-loading)::after{
		border-color: $primary;
	}
	.select:not(.is-multiple){
		height: auto;
	}

	h5 {
		color: #0F5788 !important;
	}

	.b-tabs{
		nav.tabs{
			ul{
				margin: 0;
			}
		}
	}
  .datepicker{
    .datepicker-header{
      select{
        padding: 0.5rem;
        padding-right: 2rem;
      }

    }
    a{
      text-decoration: none;
    }
  }
  .control.has-icons-left .icon, .control.has-icons-right .icon {
    top: 0.25rem;
  }
}
