@font-face {
  font-family: 'Product Sans Regular';
  src: url('/fonts/product-sans/Product-Sans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Product Sans Bold';
  src: url('/fonts/product-sans/Product-Sans-Bold.woff') format('woff');
}
