$snow: #fafafa;
$antiFlashWhite: #f2f2f2;

$radicalRed: #FF3366;
$oxfordBlue: #01004E;
$deepKomaru: #343371;
$yaleBlue: #0F5788;
$brightCerulean: #16BBD3;
$metallicSeaweed: #218491;
$cherry: #D8315B;

$color_1: #333;
$color_2: #747474;
$color_3: #bdbdbd;
$color_4: #eeeeee;
$default_input_shadow: rgba(0, 0, 0, .16);

$primary: #00466d;
$secundary: #3275B3;
$highlight: #DC4E60;

$success: #009688;
$error: #f44366;

$bg_1: #fff;
$bg_2: #f9f9f9;
$bg_3: #f2f2f2;
$bg_5: #ededed;


$mediumBP: 1200px;
$smallBP: 600px;
$xsmallBP: 450px;
